{
    "presets": [
        "@babel/preset-react",
        "@babel/preset-typescript"
    ],
    "plugins": [
        ["import", {
            "libraryName": "lodash",
            "libraryDirectory": "",
            "camel2DashComponentName": false
        }, "lodash"],
        ["import", {
            "libraryName": "antd",
            "libraryDirectory": "es",
            "style": "css"
        }],
        ["@babel/plugin-syntax-dynamic-import"],
        ["@babel/plugin-proposal-decorators", {
            "legacy": true
        }],
        ["@babel/plugin-proposal-class-properties", {
            "loose": true
        }]
    ]
}